<% 
  product = data[:product]

  type = ''
  if(product.price != product.price_special)
    type = 'sale'
  elsif (product.is_hot == 1)
    type = 'hot'
  end 
%>
<div class="category-product-inner wow fadeInUp category-product-list-item" style="visibility: hidden; animation-name: none;">
  <div class="products">        
    <div class="product-list product">
      <div class="row product-list-row">
        <div class="col col-sm-4 col-lg-4">
          <div class="product-image">
            <div class="image">
              <img src="<%= product.product_image %>" alt="<%= product.product_name%>">
            </div>
          </div><!-- /.product-image -->
        </div><!-- /.col -->
        <div class="col col-sm-8 col-lg-8">
          <div class="product-info">
            <h3 class="name"><a href="/product/<%= to_alias(product.product_name)%>.<%= product.product_id %>.html" title="<%= product.product_name%>"><%= product.product_name%></a></h3>
            <div class="product-price"> 
              <% if(type == "sale") %>
                <span class="price">
                  <%= product.price_special %> VNĐ       
                </span>            
                <span class="price-before-discount"><s><%= product.price %></s> VNĐ</span>
              <% else %>
                <span class="price">
                  <%= product.price %> VNĐ       
                </span>              
              <% end %> 
            </div><!-- /.product-price -->
            <div class="description m-t-10"><%= product.product_description %></div>
            <div class="cart clearfix animate-effect">
              <div class="action">
                <ul class="list-unstyled">
                  <li class="add-cart-button btn-group">
                    <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                      <i class="fa fa-shopping-cart"></i>                         
                    </button>
                    <button class="btn btn-primary" type="button">Thêm Vào Giỏ</button>
                                
                  </li>
                          
                </ul>
              </div><!-- /.action -->
            </div><!-- /.cart -->
                    
          </div><!-- /.product-info --> 
        </div><!-- /.col -->
      </div><!-- /.product-list-row -->
      <% if(type) %>
        <div class="tag <%= type %>">
          <span><%= type %></span>
        </div>
      <% end %>  
    </div><!-- /.product-list -->
  </div><!-- /.products -->
</div>