<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="#">Home</a></li>
				<li class='active'>Smart Phone</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
	<div class='container'>
		<div class='row outer-bottom-sm'>
			<div class='col-md-3 sidebar'>
			<%= sidebar_category() %>
			</div>
			<div class='col-md-9 main-content'>
			<div id="category" class="hidden-xs">
				<h1><%= @category.category_name %></h1>
			</div>
<!--
				<div id="category" class="category-carousel hidden-xs">
					<div class="item">	
						<div class="image">
							<img src="/assets/images/banners/cat-banner-1.jpg" alt="" class="img-responsive">
						</div>
						<div class="container-fluid">
							<div class="caption vertical-top text-left">
								<div class="big-text">
									Sale
								</div>

								<div class="excerpt hidden-sm hidden-md">
									up to 50% off
								</div>
								
							</div><!-- /.caption -->
<!--							
						</div><!-- /.container-fluid -->
<!--						
					</div>
				</div>
-->
				<div class="clearfix filters-container m-t-10">
					<div class="row">
						<div class="col col-sm-6 col-md-2">
							<div class="filter-tabs">
								<ul id="filter-tabs" class="nav nav-tabs nav-tab-box nav-tab-fa-icon">
									<li class="active">
										<a data-toggle="tab" href="#grid-container"><i class="icon fa fa-th-list"></i>Grid</a>
									</li>
									<li class=""><a data-toggle="tab" href="#list-container"><i class="icon fa fa-th"></i>List</a></li>
								</ul>
							</div><!-- /.filter-tabs -->
						</div><!-- /.col -->
<!--
						<div class="col col-sm-12 col-md-6">
							<div class="col col-sm-3 col-md-6 no-padding">
								<div class="lbl-cnt">
									<span class="lbl">Sort by</span>
									<div class="fld inline">
										<div class="dropdown dropdown-small dropdown-med dropdown-white inline">
											<button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
												Position <span class="caret"></span>
											</button>

											<ul role="menu" class="dropdown-menu">
												<li role="presentation"><a href="#">position</a></li>
												<li role="presentation"><a href="#">Price:Lowest first</a></li>
												<li role="presentation"><a href="#">Price:HIghest first</a></li>
												<li role="presentation"><a href="#">Product Name:A to Z</a></li>
											</ul>
										</div>
									</div><!-- /.fld -->
<!--									
								</div><!-- /.lbl-cnt -->
<!--								
							</div><!-- /.col -->
<!--								
							<div class="col col-sm-3 col-md-6 no-padding">
								<div class="lbl-cnt">
									<span class="lbl">Show</span>
									<div class="fld inline">
										<div class="dropdown dropdown-small dropdown-med dropdown-white inline">
											<button data-toggle="dropdown" type="button" class="btn dropdown-toggle">
												1 <span class="caret"></span>
											</button>

											<ul role="menu" class="dropdown-menu">
												<li role="presentation"><a href="#">1</a></li>
												<li role="presentation"><a href="#">2</a></li>
												<li role="presentation"><a href="#">3</a></li>
												<li role="presentation"><a href="#">4</a></li>
												<li role="presentation"><a href="#">5</a></li>
												<li role="presentation"><a href="#">6</a></li>
												<li role="presentation"><a href="#">7</a></li>
												<li role="presentation"><a href="#">8</a></li>
												<li role="presentation"><a href="#">9</a></li>
												<li role="presentation"><a href="#">10</a></li>
											</ul>
										</div>
									</div><!-- /.fld -->
<!--
								</div><!-- /.lbl-cnt -->
<!--								
							</div><!-- /.col -->
<!--							
						</div><!-- /.col -->
						<div class="col col-sm-6 col-md-4 text-right">
							<% if(@total_product > @limit) %>
								<% config = {"total_row": @total_product, "page": @page} %>
				      	<%= pagination(config)%>
							<% end %>		
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div>
				<div class="search-result-container">
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active " id="grid-container">
							<div class="category-product  inner-top-vs">
								<div class="row">
									<% if (@total_product > 0) %>
										<% @products.each do |product| %>
											<% data = {"product": product}%>
	                    <%= render partial: "category_product_item_grid", object: data, as: 'data' %>
										<% end %>
									<% else %>
										<p class="text-center">Chưa có sản phẩm</p>
									<% end %>
								</div>
							</div>
						</div>
						<div class="tab-pane category-product" id="list-container">
							<% if (@total_product > 0) %>
								<% @products.each do |product| %>
									<% data = {"product": product}%>
	            		<%= render partial: "category_product_item_list", object: data, as: 'data' %>
								<% end %>
							<% else %>
								<p class="text-center">Chưa có sản phẩm</p>
							<% end %>
						</div>
					</div>
					<div class="clearfix filters-container">						
						<div class="text-right">
							<% if(@total_product > @limit) %>
								<% config = {"total_row": @total_product, "page": @page} %>
					      <%= pagination(config)%>
							<% end %>						    
						</div><!-- /.text-right -->						
					</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
  	</div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->



