<% 
  product = data[:product] 
  type    = data[:type] 
%>
<div class="item item-carousel">
  <div class="products">        
    <div class="product">   
      <div class="product-image">
        <div class="image">
          <a href="/product/<%= to_alias(product.product_name)%>.<%= product.product_id %>.html" title="<%= product.product_name%>">
            <img  src="assets/images/blank.gif" data-echo="<%= product.product_image %>" alt="<%= product.product_name%>">
          </a>
        </div><!-- /.image -->      

        <div class="tag <%= type %>"><span><%= type %></span></div>
      </div><!-- /.product-image -->    
      <div class="product-info text-left">
        <h3 class="name"><a href="/product/<%= to_alias(product.product_name)%>.<%= product.product_id %>.html" title="<%= product.product_name%>"><%= product.product_name%></a></h3>
        <div class="rating rateit-small"></div>
        <div class="description"></div>
        <div class="product-price">          
          <% if(type == "sale") %>
            <span class="price">
              <%= product.price_special %> VNĐ       
            </span>            
            <span class="price-before-discount"><s><%= product.price %></s> VNĐ</span>
          <% else %>
            <span class="price">
              <%= product.price %> VNĐ       
            </span>              
          <% end %>          
        </div><!-- /.product-price -->        
      </div><!-- /.product-info -->
      <div class="cart clearfix animate-effect">
        <div class="action">
          <ul class="list-unstyled">
            <li class="add-cart-button btn-group">
              <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                <i class="fa fa-shopping-cart"></i>                         
              </button>
              <button class="btn btn-primary" type="button">Thêm Vào Giỏ</button>
                          
            </li>
          </ul>
        </div><!-- /.action -->
      </div><!-- /.cart -->
    </div><!-- /.product -->      
  </div><!-- /.products -->
</div><!-- /.item -->